#nav-bar {
    background: url('/static/img/header_weave.png');
    width: 100%;
    margin: 0;
    padding: 0;
    height: 120px;

    .nav-bar-inner {
        width: @mainWidth;
        margin: 0 auto;


        div.logo {
            .left;
            height: 120px;
            width: 120px;

            img {
                width: 120px;
                height: 120px;
            }
        }


        div.menus {
            margin-left: 130px;
            .upper {
                font-size: 40px;
                padding: 10px 0 0 0;
                word-spacing: 60px;
                a {
                    color: @black;
                }
            }

            .bottom {
                height: 42px;
                line-height: 42px;
                background-color: @blue;
                margin-top: 20px;

                a {
                    .left;
                    display: block;
                    color: @white;
                    padding: 0 20px;
                    font-size: 16px;

                    &.dropdown {
                    }

                    &.last {
                        padding-right: 0;
                    }

                    &.highlight {
                        background-color: @magenta;
                    }

                    img {
                        float: left;
                        height: 42px;
                        display: inline;
                        margin: 0 10px 0 0;


                        &.right {
                            float: right;
                            margin: 0 0 0 10px;
                        }
                    }
                }



                .left-group {
                    .left;
                    margin-right: 280px;
                }

                .right-group {
                }

                ul {
                    display: none;
                    position: absolute;
                    li {
                        background-color: @blue;
                        padding: 10px;
                        border-bottom: 1px solid @blueDark;
                        line-height: 14px;

                        a {
                            float: none;
                            font-size: 14px;
                            display: inline;
                            text-decoration: underline;
                            padding: 0 2px;

                        }

                        &.link {
                            padding: 0;

                            a {
                                padding: 12px 22px;
                                display: block;
                                text-decoration: none;
                            }
                        }
                    }
                }



            }

        
        }
    }
}

