.fg-color-blue {
  color: #2d89ef !important;
}
.fg-color-blueLight {
  color: #74b1f4 !important;
}
.fg-color-blueDark {
  color: #0f63c1 !important;
}
.fg-color-green {
  color: #2efe2e !important;
}
.fg-color-greenLight {
  color: #7afe7a !important;
}
.fg-color-greenDark {
  color: #01de01 !important;
}
.fg-color-cyan {
  color: #01dfd7 !important;
}
.fg-color-cyanLight {
  color: #2efef7 !important;
}
.fg-color-cyanDark {
  color: #01938e !important;
}
.fg-color-orange {
  color: #e3a21a !important;
}
.fg-color-orangeLight {
  color: #ecbe5d !important;
}
.fg-color-orangeDark {
  color: #9e7112 !important;
}
.fg-color-pink {
  color: #fa58f4 !important;
}
.fg-color-pinkLight {
  color: #fca2f9 !important;
}
.fg-color-pinkDark {
  color: #f80eef !important;
}
.fg-color-magenta {
  color: #ff0080 !important;
}
.fg-color-magentaLight {
  color: #ff4da6 !important;
}
.fg-color-magentaDark {
  color: #b3005a !important;
}
.fg-color-red {
  color: #df0101 !important;
}
.fg-color-redLight {
  color: #fe2e2e !important;
}
.fg-color-redDark {
  color: #930101 !important;
}
.fg-color-gray {
  color: #7e7e7e !important;
}
.fg-color-grayLight {
  color: #a4a4a4 !important;
}
.fg-color-grayDark {
  color: #585858 !important;
}
.bg-color-blue {
  background-color: #2d89ef !important;
}
.bg-color-blueLight {
  background-color: #74b1f4 !important;
}
.bg-color-blueDark {
  background-color: #0f63c1 !important;
}
.bg-color-green {
  background-color: #2efe2e !important;
}
.bg-color-greenLight {
  background-color: #7afe7a !important;
}
.bg-color-greenDark {
  background-color: #01de01 !important;
}
.bg-color-cyan {
  background-color: #01dfd7 !important;
}
.bg-color-cyanLight {
  background-color: #2efef7 !important;
}
.bg-color-cyanDark {
  background-color: #01938e !important;
}
.bg-color-orange {
  background-color: #e3a21a !important;
}
.bg-color-orangeLight {
  background-color: #ecbe5d !important;
}
.bg-color-orangeDark {
  background-color: #9e7112 !important;
}
.bg-color-pink {
  background-color: #fa58f4 !important;
}
.bg-color-pinkLight {
  background-color: #fca2f9 !important;
}
.bg-color-pinkDark {
  background-color: #f80eef !important;
}
.bg-color-magenta {
  background-color: #ff0080 !important;
}
.bg-color-magentaLight {
  background-color: #ff4da6 !important;
}
.bg-color-magentaDark {
  background-color: #b3005a !important;
}
.bg-color-red {
  background-color: #df0101 !important;
}
.bg-color-redLight {
  background-color: #fe2e2e !important;
}
.bg-color-redDark {
  background-color: #930101 !important;
}
.bg-color-gray {
  background-color: #7e7e7e !important;
}
.bg-color-grayLight {
  background-color: #a4a4a4 !important;
}
.bg-color-grayDark {
  background-color: #585858 !important;
}
.bg-color-cyanBlue {
  background-color: #337fa3 !important;
}
.bg-color-cyanBlueLight {
  background-color: #58a6cb !important;
}
.bg-color-cyanBlueDark {
  background-color: #215269 !important;
}
.border-color-blue {
  border-color: #2d89ef !important;
}
.border-color-blueLight {
  border-color: #74b1f4 !important;
}
.border-color-blueDark {
  border-color: #0f63c1 !important;
}
.border-color-green {
  border-color: #2efe2e !important;
}
.border-color-greenLight {
  border-color: #7afe7a !important;
}
.border-color-greenDark {
  border-color: #01de01 !important;
}
.border-color-cyan {
  border-color: #01dfd7 !important;
}
.border-color-cyanLight {
  border-color: #2efef7 !important;
}
.border-color-cyanDark {
  border-color: #01938e !important;
}
.border-color-orange {
  border-color: #e3a21a !important;
}
.border-color-orangeLight {
  border-color: #ecbe5d !important;
}
.border-color-orangeDark {
  border-color: #9e7112 !important;
}
.border-color-pink {
  border-color: #fa58f4 !important;
}
.border-color-pinkLight {
  border-color: #fca2f9 !important;
}
.border-color-pinkDark {
  border-color: #f80eef !important;
}
.border-color-magenta {
  border-color: #ff0080 !important;
}
.border-color-magentaLight {
  border-color: #ff4da6 !important;
}
.border-color-magentaDark {
  border-color: #b3005a !important;
}
.border-color-red {
  border-color: #df0101 !important;
}
.border-color-redLight {
  border-color: #fe2e2e !important;
}
.border-color-redDark {
  border-color: #930101 !important;
}
.border-color-gray {
  border-color: #7e7e7e !important;
}
.border-color-grayLight {
  border-color: #a4a4a4 !important;
}
.border-color-grayDark {
  border-color: #585858 !important;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
#nav-bar {
  background: url('/static/img/header_weave.png');
  width: 100%;
  margin: 0;
  padding: 0;
  height: 120px;
}
#nav-bar .nav-bar-inner {
  width: 980px;
  margin: 0 auto;
}
#nav-bar .nav-bar-inner div.logo {
  float: left;
  height: 120px;
  width: 120px;
}
#nav-bar .nav-bar-inner div.logo img {
  width: 120px;
  height: 120px;
}
#nav-bar .nav-bar-inner div.menus {
  margin-left: 130px;
}
#nav-bar .nav-bar-inner div.menus .upper {
  font-size: 40px;
  padding: 10px 0 0 0;
  word-spacing: 60px;
}
#nav-bar .nav-bar-inner div.menus .upper a {
  color: #000000;
}
#nav-bar .nav-bar-inner div.menus .bottom {
  height: 42px;
  line-height: 42px;
  background-color: #2d89ef;
  margin-top: 20px;
}
#nav-bar .nav-bar-inner div.menus .bottom a {
  float: left;
  display: block;
  color: #ffffff;
  padding: 0 20px;
  font-size: 16px;
}
#nav-bar .nav-bar-inner div.menus .bottom a.last {
  padding-right: 0;
}
#nav-bar .nav-bar-inner div.menus .bottom a.highlight {
  background-color: #ff0080;
}
#nav-bar .nav-bar-inner div.menus .bottom a img {
  float: left;
  height: 42px;
  display: inline;
  margin: 0 10px 0 0;
}
#nav-bar .nav-bar-inner div.menus .bottom a img.right {
  float: right;
  margin: 0 0 0 10px;
}
#nav-bar .nav-bar-inner div.menus .bottom .left-group {
  float: left;
  margin-right: 240px;
}
#nav-bar .nav-bar-inner div.menus .bottom ul {
  display: none;
  position: absolute;
}
#nav-bar .nav-bar-inner div.menus .bottom ul li {
  background-color: #2d89ef;
  padding: 10px;
  border-bottom: 1px solid #0f63c1;
  line-height: 14px;
}
#nav-bar .nav-bar-inner div.menus .bottom ul li a {
  float: none;
  font-size: 14px;
  display: inline;
  text-decoration: underline;
  padding: 0 2px;
}
#nav-bar .nav-bar-inner div.menus .bottom ul li.link {
  padding: 0;
}
#nav-bar .nav-bar-inner div.menus .bottom ul li.link a {
  padding: 12px 22px;
  display: block;
  text-decoration: none;
}
.modal {
  display: none;
}
.modal .header {
  color: #ffffff;
  background-color: #2d89ef;
}
.modal .header .title {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  float: left;
}
.modal .header .close {
  float: right;
  padding: 4px 10px;
  background-color: #0f63c1;
  cursor: pointer;
}
.modal .content {
  padding: 10px;
  background-color: #ffffff;
}
.square-input {
  border: 1px solid #a4a4a4;
  padding: 0 6px;
  margin: 0;
  width: 220px;
  height: 28px;
  color: #000000;
  background-color: #a4a4a4;
}
.input-control {
  margin: 0 0 10px 0;
  background-color: #a4a4a4;
}
.input-control label {
  display: inline-block;
  padding: 0 10px 0 0;
  background-color: #337fa3;
  width: 80px;
  color: #ffffff;
  text-align: right;
  line-height: 30px;
}
.input-control input {
  border: 1px solid #a4a4a4;
  padding: 0 6px;
  margin: 0;
  width: 220px;
  height: 28px;
  color: #000000;
  background-color: #a4a4a4;
}
.input-control input.error {
  border: 1px solid #df0101;
}
.input-control textarea {
  border: 1px solid #a4a4a4;
  padding: 6px;
  margin: 0;
}
.input-control.vertical {
  background-color: #ffffff;
}
.input-control.vertical label {
  display: block;
}
.button {
  padding: 4px 10px;
  margin: 0 10px 0 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  width: 65px;
  height: 35px;
  color: #ffffff;
}
.button.small {
  width: 50px;
  height: 22px;
}
.button.big {
  width: 80px;
  height: 42px;
}
a.button {
  display: block;
  padding: 0;
  line-height: 30px;
}
body {
  font-size: 14px;
  padding: 0;
  margin: 0;
  background: url(/static/img/bg.png) repeat;
  letter-spacing: 1px;
}
#notifya {
  width: 80px;
  height: 42px;
  overflow: hidden;
}
#main {
  width: 980px;
  margin: 30px auto;
}
.item-bg-yellowLight {
  background-color: #FFFFEE;
}
#notifya {
  background-color: #01dfd7;
}
.none {
  display: none;
}
a {
  color: #01938e;
}
a:hover {
  color: #ff0080;
}
.social-list {
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid gray;
}
.social-list p {
  font-size: 18px;
  color: gray;
}
.social-list div {
  margin-bottom: 20px;
}
.social-list div a {
  display: block;
  font-size: 16px;
  line-height: 40px;
  width: 180px;
  padding-left: 20px;
  background-color: green;
}
#mainLeft {
  float: left;
  width: 640px;
  background-color: #ffffff;
  padding: 10px;
}
#mainRight {
  float: right;
  width: 300px;
  color: #666;
}
#mainRight .box {
  width: 280px;
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
}
#mainRight .box .header {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
#mainRight .box .header .bigger {
  font-size: 26px;
  color: #444;
}
#mainRight .box .header .login {
  color: #ff0080;
  cursor: pointer;
}
.input-control.vertical label {
  display: block;
  width: 542px;
  padding: 4px 10px;
  text-align: left;
}
.input-control.vertical input {
  width: 540px;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  padding: 4px 10px;
}
.input-control.vertical textarea {
  width: 540px;
  height: 150px;
  resize: vertical;
  color: #000000;
  font-size: 16px;
  padding: 10px;
}
#postbody-modal .oldtext {
  width: 540px;
  padding: 10px;
  color: #666;
  font-size: 16px;
}
#postPageBottom {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dashed #2d89ef;
}
.index-item {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.index-item .avatar {
  float: left;
}
.index-item .avatar img {
  border: none 0px #000000;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.index-item .avatar img.bigger {
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
}
.index-item .rightBlock {
  margin-left: 50px;
  padding: 0 10px;
  font-size: 12px;
  color: #777;
}
.index-item .rightBlock p {
  margin: 4px 0;
}
.index-item .rightBlock .main {
  font-size: 18px;
}
.index-item .rightBlock .main p {
  margin: 10px 0;
}
.index-item .rightBlock .main .title {
  float: left;
  width: 520px;
}
.index-item .rightBlock .main .child-num {
  float: right;
}
.list-view {
  position: relative;
}
.list-view .item-line {
  position: absolute;
  width: 1px;
  top: 0;
  left: 24px;
  background-color: #eee;
  z-index: 1;
}
.list-view .item-line.fork {
  background-color: #74b1f4;
}
.list-view .avatar {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
}
.list-view .avatar img {
  border: none 0px #000000;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.list-view .avatar img.bigger {
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
}
.list-view .content {
  margin: 0 0 0 60px;
  padding: 0 0 20px 0;
}
.list-view .content p {
  margin: 0;
  color: #7e7e7e;
  font-size: 12px;
}
.list-view .content p.name {
  background-color: #F0F6F3;
}
.list-view .content p.text {
  font-size: 14px;
  color: #000000;
  margin: 15px 0;
}
.list-view .content div.extra {
  height: 24px;
}
.list-view .content div.extra button {
  color: #337FA3;
  background: none;
}
.list-view .content div.extra.fork {
  background-color: #337FA3;
}
.list-view .content div.extra.fork button {
  color: #ffffff;
}
.list-view .content div.extra .list-view-action {
  display: none;
}
.list-view .forksarea {
  margin-left: 60px;
}
.list-view .forksarea .fork-view {
  position: relative;
}
.list-view .forksarea .fork-view .fork-line {
  position: absolute;
  top: 16px;
  left: -35px;
  width: 38px;
  height: 1px;
  background-color: #74b1f4;
  z-index: 1;
}
.list-view .forksarea .fork-view .avatar {
  width: 32px;
  height: 32px;
}
.list-view .forksarea .fork-view .content {
  margin-left: 50px;
}
.list-view .forksarea .fork-view .content p.text {
  color: #666;
}
.item-button {
  margin: 0 10px 0 0;
  padding: 0;
  width: auto;
  height: auto;
  cursor: default;
}
.item-button.can-score-good {
  cursor: pointer;
}
.item-button.can-score-bad {
  cursor: pointer;
}
.item-button .icon {
  float: left;
  width: 20px;
  height: 20px;
  background: transparent url(/static/img/icons.png) no-repeat scroll;
}
.item-button .icon.good {
  background-position: 0px -20px;
}
.item-button .icon.scored-good {
  background-position: 0px 0px;
}
.item-button .icon.bad {
  background-position: 0px -69px;
}
.item-button .icon.scored-bad {
  background-position: -1px -48px;
}
.item-button .num {
  float: right;
  line-height: 20px;
  padding: 0 4px;
}
.write-new {
  margin: -10px 0;
  padding: 0 10px;
  background: none;
  width: auto;
  height: auto;
}
.write-new .icon {
  float: left;
  width: 30px;
  height: 30px;
  margin-top: 5px;
  background: transparent url(/static/img/icons.png) no-repeat scroll -24px -28px;
}
.write-new .text {
  float: left;
  line-height: 40px;
}
.has-fork {
  margin: -10px 0;
  padding: 0 10px;
  background: none;
  width: auto;
  height: auto;
}
.has-fork .icon {
  float: left;
  width: 30px;
  height: 30px;
  margin-top: 5px;
  background: transparent url(/static/img/icons.png) no-repeat scroll -24px -28px;
}
.has-fork .text {
  float: left;
  line-height: 40px;
}
.has-fork .icon {
  background: transparent url(/static/img/icons.png) no-repeat scroll -24px -55px;
}
.w100 {
  width: 100%;
  margin: 20px 0 0 0;
  font-size: 16px;
  font-weight: bold;
}
.open-modal {
  cursor: pointer;
}
.block-area {
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 20px;
}
#mySign {
  width: 500px;
  font-size: 14px;
  padding: 6px;
  border: 1px solid #ddd;
  display: block;
}
#mySignBtn {
  margin-top: 10px;
  background-color: #ff0080;
}
#mySignWarning {
  font-size: 16px;
  margin: 10px 0 0 0;
  display: none;
}
#uploadAvatarUploadArea {
  margin: 0 0 20px 0;
}
#uploadAvatarUploadArea #uploadAvatarBtnLayout {
  width: 100px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
#uploadAvatarUploadArea #uploadAvatarBtnLayout button {
  padding: 4px 10px;
  margin: 0 10px 0 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  width: 65px;
  height: 35px;
  color: #ffffff;
  background-color: #2d89ef !important;
  width: 100%;
  height: 100%;
}
#uploadAvatarUploadArea #uploadAvatarBtnLayout button.small {
  width: 50px;
  height: 22px;
}
#uploadAvatarUploadArea #uploadAvatarBtnLayout button.big {
  width: 80px;
  height: 42px;
}
#uploadAvatarUploadArea #uploadAvatarBtnLayout #uploadAvatarInputFile {
  position: absolute;
  top: 0;
  left: -20px;
  font-size: 300%;
}
#uploadAvatarSelectArea {
  width: 300px;
  height: 300px;
  border: 1px solid #ddd;
  overflow: hidden;
  float: left;
}
#uploadAvatarPreviewArea {
  float: right;
}
#uploadAvatarPreviewArea #uploadAvatarPreviewArea50 {
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  overflow: hidden;
  margin-bottom: 10px;
}
#uploadAvatarPreviewArea #uploadAvatarPreviewArea120 {
  width: 120px;
  height: 120px;
  border: 1px solid #ddd;
  overflow: hidden;
}
#uploadAvatarCropSubmit {
  padding: 4px 10px;
  margin: 0 10px 0 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  width: 65px;
  height: 35px;
  color: #ffffff;
  background-color: #ff0080 !important;
  width: 80px;
  height: 30px;
  margin: 10px 0 0 0;
}
#uploadAvatarCropSubmit.small {
  width: 50px;
  height: 22px;
}
#uploadAvatarCropSubmit.big {
  width: 80px;
  height: 42px;
}
#uploadAvatarCropResult {
  font-size: 16px;
  margin: 10px 0 0 0;
  display: none;
}
