<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shoutcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <title>
        {% block title %}{% endblock %} :: 骚年，讲个故事吧 ::
    </title>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollTo.min.js"></script>
    
    <script type="text/javascript" src="{{ STATIC_URL }}square/js/jquery.bpopup.min.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.charcount.min.js"></script>

    
    <script type="text/javascript" src="{{ STATIC_URL }}square/js/square.js?ver={{ VER }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/project.js?ver={{ VER }}"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />

    <!-- <link rel="stylesheet" href="{{ STATIC_URL }}square/css/square.css?ver={{ VER }}" /> -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css?ver={{ VER }}" />
</head>
<body>

<div style="max-width: 1000px; margin: 0 auto;">

<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="/">Logo</a>
        <ul class="nav">
            <li class="active"><a href="/">最新更新</a></li>
            <li><a href="#">今日热门</a></li>
            <li><a href="#">本周热门</a></li>
        </ul>

        <ul class="nav pull-right">
            <li><a href="#">消息</a></li>
            <li><a href="#">发新帖</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.siteuser.username }}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a href="">我发布的帖子</a></li>
                    <li><a href="account/settings">帐号设置</a></li>
                    <li><a href="#" id="accoutLogout">退出</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>


<button class="btn open-modal" modal-window-id="loginModal">xx</button>


<div class="container-fluid">
    <div class="row-fluid">
        <div id="mainLeft" class="span9">{% block mainLeft %}{% endblock %}</div>
        <div id="mainRight" class="span3">
            {% block mainRight %}
            {% include "right_side.html" %}
            {% endblock %}
        </div>
    </div>
</div>

</div>


<div id="loginModal" class="modal hide" auto-close="1" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>登录</h4>
    </div>
    <div class="modal-body">
        <div class="left">
            <form action="">{% csrf_token %}
                <div class="input-control">
                    <label for="lEmail">电子邮件</label>
                    <input id="lEmail" type="text" name="email" />
                </div>
                <div class="input-control">
                    <label for="lP">密码</label>
                    <input id="lP" type="password" name="passwd" />
                </div>
                <input type="submit" value="登录" class="button bg-color-magenta" id="accoutLogin"/>
            </form>
            <div id="loginWarning" class="warning"></div>
        </div>
        <div class="social-list right">
            <p>使用 合作网站 帐号登录</p>
            <div><a href="">微博登录</a></div>
            <div><a href="">人人登录</a></div>
            <div><a href="">豆瓣登录</a></div>
            <div><a href="">QQ登录</a></div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aira-hidden="true">关闭</button>
    </div>
</div>


<!--


<div class="modal" id="register-modal" auto-close="1">
    <div class="header">
        <span class="title">注册</span>
        <span class="close">关闭</span>
        <div class="clear"></div>
    </div>
    <div class="content">
        <div class="left">
            <form action="">{% csrf_token %}
                <div class="input-control">
                    <label for="rEmail">电子邮件</label>
                    <input id="rEmail" type="text" name="email" />
                </div>
                <div class="input-control">
                    <label for="rName">昵称</label>
                    <input id="rName" type="text" name="name" />
                </div>
                <div class="input-control">
                    <label for="rP">密码</label>
                    <input id="rP" type="password" name="passwd" />
                </div>
                <div class="input-control">
                    <label for="rP2">重复密码</label>
                    <input id="rP2" type="password" name="passwd2" />
                </div>
                <input type="submit" value="注册" class="button bg-color-magenta" id="accoutRegister"/>
            </form>
            <div id="registerWarning" class="warning"></div>
        </div>

        <div class="social-list right">
            <p>使用 合作网站 帐号登录</p>
            <div><a href="">微博登录</a></div>
            <div><a href="">人人登录</a></div>
            <div><a href="">豆瓣登录</a></div>
            <div><a href="">QQ登录</a></div>
        </div>
        <div class="clear"></div>
    </div>
</div>



<div class="modal" id="posthead-modal">
    <div class="header">
        <span class="title">新贴</span>
        <span class="close">关闭</span>
        <div class="clear"></div>
    </div>
    <div class="content">
        <form action="">{% csrf_token %}
            <div class="input-control vertical">
                <label for="nPostHead">吸引眼球的标题</label>
                <input id="nPostHead" type="text" name="posthead" />
                <p>还可以输入 <span>40</span> 字</p>
            </div>
            <div class="input-control vertical">
                <label for="nPostContent">毫无节操的内容</label>
                <textarea id="nPostContent" name="postcontent" cols="80" rows="10"></textarea>
                <p>还可以输入 <span>255</span> 字</p>
            </div>
            <input type="submit" value="发布" class="button w100 bg-color-magenta" id="postNewHead"/>
        </form>
        <div id="postHeadWarning" class="warning"></div>
    </div>
</div>



<div class="modal" id="postbody-modal">
    <div class="header">
        <span class="title">新的发展</span>
        <span class="close">关闭</span>
        <div class="clear"></div>
    </div>
    <div class="content">
        <div class="oldtext"></div>
        <form action="">{% csrf_token %}
            <input id="nBodyHeadID" type="hidden">
            <input id="nBodyParentID" type="hidden">
            <div class="input-control vertical">
                <label for="nBodyContent">新的发展</label>
                <textarea id="nBodyContent" name="bodycontent" cols="80" rows="10"></textarea>
                <p>还可以输入 <span>255</span> 字</p>
            </div>
            <input type="submit" value="跟帖" class="button w100 bg-color-magenta" id="postNewBody"/>
        </form>
        <div id="postBodyWarning" class="warning"></div>
    </div>
</div>


-->

</body>
</html>

