{% extends "base.html" %}

{% block mainLeft %}

{% for item in items %}
    <div class="index-item">
        <div class="avatar">
            <a href="">
            <img src="{{ item.user.avatar }}" alt="{{ item.user.username }}" />
            </a>
        </div>
        <div class="content span9">
            <p class="muted">
                <small>
                <a href="">{{ item.user.username }}</a>
                {% if item.user.sign %}( {{ item.user.sign }} ){% endif %}
                </small>
            </p>
            <h4><a href="/posts/{{ item.id }}">{{ item.title }}</a></h4>
            <p class="muted"><small>发表于: {{ item.posted_at }} 更新于: {{ item.updated_at }}</small></p>
        </div>
        <div class="span1">
            <span class="badge badge-info">{{ item.child_counts }}</span>
        </div>
        <div class="clear"></div>
    </div>
{% endfor %}


<div id="paginator">
    {% if previous_link %}<a href="{{previous_link}}">上一页</a>{% endif %}
    {% if next_link %}<a href="{{next_link}}">下一页</a>{% endif %}
</div>


{% endblock %}
