{% for item in items %}
<div class="list-view" id="listview{{ item.id }}">
        <div class="avatar">
            <img src="{{ item.user.avatar }}" alt="" width="42px" height="42px"/>
        </div>
        <div class="content">
            <div class="mask"></div>
            <div class="base">
                <p class="name">
                    <a href="">{{ item.user.username }}</a> ( 我才哦啊的哦能否奥山的你到能否 )
                </p>

                {% if is_head %}
                <p class="title"><a href="{% url 'show_post' post_id=item.id %}">{{ item.title }}</a></p>
                {% endif %}

                <p class="text">{{ item.content }}</p>
                <p class="time">{{ item.posted_at }}</p>
            </div>
            <div class="extra {% if item.post_forks %}fork{% endif %}">
                <div class="left">
                    <button class="button item-button {% if not item.scored %}can-score-good{% endif %}" hover_bg_pos="0px 0px" id="scoregood-{{ item.id }}">
                        <div class="icon good {% if item.scored_good %}scored-good{% endif %}"></div>
                        <div class="num">{{ item.good }}</div>
                        <div class="clear"></div>
                    </button>
                    <button class="button item-button {% if not item.scored %}can-score-bad{% endif %}" hover_bg_pos="-1px -48px" id="scorebad-{{ item.id }}">
                        <div class="icon bad {% if item.scored_bad %}scored-bad{% endif %}"></div>
                        <div class="num">{{ item.bad }}</div>
                        <div class="clear"></div>
                    </button>
                </div>
                <div class="right">
                    {% if is_head %}
                    <a href="/posts/{{ item.id }}" class="head-info">{{ item.body_count }} 跟帖</a>
                    {% else %}
                        {% if item.post_forks %}
                        <button class="button has-fork" fork-id="{{ item.id }}">
                            <div class="icon"></div>
                            <div class="text">收起分支</div>
                            <div class="clear"></div>
                        </button>
                        {% endif %}
                        <button class="button write-new open-body-modal" modal-window-id="{% if request.siteuser %}postbody-modal{% else %}login-modal{% endif %}" head-id={{ item.head }} parent-id={{ item.id }} >
                            <div class="icon"></div>
                            <div class="text">写后续</div>
                            <div class="clear"></div>
                        </button>
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>

        {% if item.post_forks %}
            <div class="forksarea" id="forksarea{{ item.id }}" show="1">
                {% for fork in item.post_forks %}
                <div class="fork-view" id="forkview{{ fork.id }}">
                        <div class="avatar">
                            <img src="{{ fork.user.avatar }}" alt="" width="32px" height="32px"/>
                        </div>
                        <div class="content">
                            <div class="mask"></div>
                            <div class="base">
                                <p class="name">
                                    <a href="">{{ fork.user.username }}</a> ( 我才哦啊的哦能否奥山的你到能否 )
                                </p>

                                <a href="/posts/{{ fork.id }}">
                                    <p class="text">{{ fork.content }}</p>
                                    <p class="time">{{ fork.posted_at }}</p>
                                </a>
                            </div>
                            <div class="extra">
                                <div class="">
                                    <button class="button item-button {% if not fork.scored %}can-score-good{% endif %}" hover_bg_pos="0px 0px" id="scoregood-{{ fork.id }}">
                                        <div class="icon good {% if fork.scored_good %}socred-good{% endif %}"></div>
                                        <div class="num">{{ fork.good }}</div>
                                        <div class="clear"></div>
                                    </button>
                                    <button class="button item-button {% if not fork.scored %}can-score-bad{% endif %}" hover_bg_pos="-1px -48px" id="scorebad-{{ fork.id }}">
                                        <div class="icon bad {% if fork.socred_bad %}socred-bad{% endif %}"></div>
                                        <div class="num">{{ fork.bad }}</div>
                                        <div class="clear"></div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    </div>
{% endfor %}
