<div class="list-view" id="item{{ item.id }}"  item-last="{% if forloop.last %}1{% else %}0{% endif %}">
    <div class="avatar">
        <a href="">
        <img src="{{ item.user.avatar }}" alt="" width="48px" height="48px"/>
        </a>
    </div>

    {% if not forloop.last %}
    <div class="item-line {% if item.post_forks %}fork{% endif %}"></div>
    {% endif %}

    <div class="content" id="content{{ item.id }}">
        <p class="name">
            <a href="">{{ item.user.username }}</a>
            {% if item.user.sign %}( {{ item.user.sign }} ){% endif %}
        </p>

        <p class="text">{{ item.content }}</p>
        <p class="time">{{ item.posted_at }}</p>

        <div class="extra">
            <!--
            <div class="left">
                <button class="button item-button {% if request.siteuser %}{% if not item.scored %}can-score-good{% endif %}{% else %}open-modal{% endif %}" hover_bg_pos="0px 0px" id="scoregood-{{ item.id }}" modal-window-id="login-modal">
                    <div class="icon good {% if item.scored_good %}scored-good{% endif %}"></div>
                    <div class="num">{{ item.good }}</div>
                    <div class="clear"></div>
                </button>
                <button class="button item-button {% if request.siteuser %}{% if not item.scored %}can-score-bad{% endif %}{% else %}open-modal{% endif %}" hover_bg_pos="-1px -48px" id="scorebad-{{ item.id }}" modal-window-id="login-modal">
                    <div class="icon bad {% if item.scored_bad %}scored-bad{% endif %}"></div>
                    <div class="num">{{ item.bad }}</div>
                    <div class="clear"></div>
                </button>
            </div>
        -->
            <div class="right list-view-action">
                {% if item.post_forks %}
                <button class="button has-fork" fork-id="{{ item.id }}">
                    <div class="icon"></div>
                    <div class="text">收起分支</div>
                    <div class="clear"></div>
                </button>
                {% endif %}
                <button class="button write-new open-body-modal" modal-window-id="{% if request.siteuser %}postbody-modal{% else %}login-modal{% endif %}" head-id={{ item.head }} parent-id={{ item.id }}>
                    <div class="icon"></div>
                    <div class="text">写后续</div>
                    <div class="clear"></div>
                </button>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>

    {% if not forloop.last %}
    <div class="forksarea" id="forksarea{{ item.id }}" show="1">
        {% if item.post_forks %}
            {% for fork in item.post_forks %}
                {% include "one_fork.html" %}
            {% endfor %}
        {% endif %}
    </div>
    {% endif %}
</div>