<div class="list-item" id="item{{ item.id }}"  item-last="{% if forloop.last %}1{% else %}0{% endif %}">
    <div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tab{{ item.id }}" data-toggle="tab">
            <img src="{{ item.user.avatar }}" alt="" />
            <span class="muted">{{ item.level_label }}</span>
            </a>
        </li>
        {% if item.branches %}
            {% for b in item.branches %}
            <li>
                <a href="#tab{{ b.id }}" data-toggle="tab">
                <img src="{{ b.user.avatar }}" alt="" />
                <span class="muted">{{ b.level_label }}</span>
                </a>
            </li>
            {% endfor %}
        {% endif %}
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab{{ item.id }}">
            <div class="content" id="content{{ item.id }}">
                <p class="muted">
                    <small>
                        <a href="">{{ item.user.username }}</a>
                        {% if item.user.sign %}( {{ item.user.sign }} ){% endif %}
                        <span class="time">{{ item.posted_at }}</span>
                    </small>
                </p>

                <p>{{ item.content }}</p>

                <p class="item-action muted">
                    <span>写后续</span>
                </p>
            </div>
        </div>
        {% if item.branches %}
            {% for b in item.branches %}
            <div class="tab-pane" id="tab{{ b.id }}">
                <div class="content" id="content{{ b.id }}">
                    <p class="muted">
                        <small>
                            <a href="">{{ b.user.username }}</a>
                            {% if b.user.sign %}( {{ b.user.sign }} ){% endif %}
                            <span class="time">{{ b.posted_at }}</span>
                        </small>
                    </p>

                    <p>{{ b.content }}</p>

                    <p class="item-action muted">
                        <span>写后续</span>
                    </p>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    </div>

</div>