{% if not request.siteuser %}
<div class="box">
    <div class="header">
        <span class="bigger">骚年</span> 你为什么还不 <a class="open-modal" modal-window-id="login-modal">登录</a>
    </div>
    <div class="content">
        <p><a href="">微博登录</a></p>
        <p><a href="">人人登录</a></p>
        <p><a href="">豆瓣登录</a></p>
        <p><a href="">QQ登录</a></p>
    </div>
</div>
{% endif %}
<div class="box">
    <div class="header">收听</div>
    <div class="content">
        <p><a href="">新浪微博</a></p>
        <p><a href="">人人公共主页</a></p>
    </div>
</div>
