{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block mainLeft %}
<h2 class="title"><a href="/posts/{{ head_id }}">{{ title }}</a></h2>
<div id="headID" class="none">{{ head_id }}</div>
<div id="startID" class="none">{{ start_id }}</div>

    {% for item in items %}
        {% include "one_body.html" %}
    {% endfor %}

    <div id="postPageBottom">
        {% if next_body_counts %}
        <a class="next-post-page" href="/posts/{{ next_start_id }}">后续 {{ next_body_counts }} 跟帖</a>
        {% else %}
        后续无跟帖，返回 <a href="/posts/{{ head_id }}">故事开头</a> 
        {% endif %}
    </div>
{% endblock %}

{% block mainRight %}
    <div class="box" style="position: fixed;">
        <div class="header">导航</div>
            <div id="treeNavs" style="width: 300px; height: 400px; overflow: hidden;"></div>
    </div>
    {{ block.super }}
{% endblock %}